body {
  margin: 0;
  padding: 0;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 8%);
}

.profile-card {
  background-color: hsl(0, 0%, 12%);
  width: 24rem;
  height: 36rem;
  font-family: Inter;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 3rem 2rem;
}

.profile-card img {
  width: 6rem;
  height: 6rem;
  border-radius: 100px;
}

.profile-card h1 {
  color: white;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin-bottom: 0;
}

.profile-card h3 {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  margin: 0.7rem 0;
}

.profile-card p {
  color: hsl(0, 0%, 70%);
  font-weight: 600;
  margin-bottom: 2rem;
}

.btns {
  display: flex;
  flex-direction: column;
}

.btns button {
  width: 22rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: solid 1px hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 20%);
  color: white;
  font-family: Inter;
  font-size: 14px;
  font-weight: bolder !important;
  margin-bottom: 1rem;
  letter-spacing: 0.02rem;
}

.btns button:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
  
}

@media (max-width: 375px) {
  .profile-card {
    width: 22rem;
    height: 35rem;
  }
}

/* .attribution { 
  font-size: 11px; 
  text-align: center;
  margin-top: 5rem; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
} */